{% set local_ip = inventory_hostname %}
#[Member] ETCD_NAME必须在ETCD_INITIAL_CLUSTER列表中
ETCD_NAME={{etcd_name}}
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
# ETCD_WAL_DIR=""
ETCD_LISTEN_PEER_URLS="https://{{local_ip}}:2380"
ETCD_LISTEN_CLIENT_URLS="https://{{local_ip}}:2379,https://127.0.0.1:2379"

#[Clustering]
ETCD_ADVERTISE_CLIENT_URLS="https://{{local_ip}}:2379"
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ local_ip }}:2380"
ETCD_INITIAL_CLUSTER="{% for host in groups['xcp-etcd'] %}{{ hostvars[host].etcd_name }}=https://{{ hostvars[host].inventory_hostname }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
ETCD_INITIAL_CLUSTER_TOKEN="k8s-cluster"
ETCD_INITIAL_CLUSTER_STATE="{{cluster_state}}"

ETCD_SNAPSHOT_COUNT=50000
ETCD_AUTO_COMPACTION_RETENTION=1
ETCD_AUTO_COMPACTION_MODE=periodic
ETCD_MAX_REQUEST_BYTES=10485760
ETCD_QUOTA_BACKEND_BYTES=8589934592